.boxFour{
    background: rgba(40, 40, 40, 0.8);
    border-radius: 30px;
    max-width: 900px;
    
    
}

.record {
    color: white;
    /* width: 50vw; */
    /* display: flex; */

}

.mediaCard {
    background-color: rgba(246, 246, 246, 0.5);
    border-radius: 15px;
    margin: 5px;
    /* display: flex !important;
    flex-wrap: wrap !important; */
  

}

.image2{
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}




